:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  height: 100vh;
  align-items: center;
  margin: 0 5%;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  background: none;
  border: none;
  color: #ffffffbf;
}
