@use "fonts.scss";

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #AE7AFF;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono", sans-serif;
}

.skill-tag {
  display: inline;
  width: max-content;
  padding: 4px 8px;
  margin-right: 4px;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800 ;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
}
